In [43]:
#Write a Pandas program to create and display a DataFrame from the following dictionary data with index labels.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
                      'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#df=pd.DataFrame(exam_data,index=labels)
#print(df)
#print(df.head(3))
#df1=df.dropna().reset_index(drop=True)
#print(df1)

#df2=df[['name','score']]
#df2

#df3=pd.DataFrame({"name": ["Suresh"], "score": [15.5], "attempts": [1], "qualify": ["yes"]},index=["k"])
#df=pd.concat([df,df3],axis=0)
#print(df)


#!!!!!!!!!!!

#!!!!!!!!!!!IF I USE THIS INSTEAD ->df3=pd.DataFrame({"name": ["Suresh"], "score": [15.5], "attempts": [1], "qualify": ["yes"]},index=["id"])
#output
#    name  score  attempts qualify
#a   Anastasia   12.5         1     yes
#b        Dima    9.0         3      no
#c   Katherine   16.5         2     yes
#d       James    NaN         3      no
#e       Emily    9.0         2      no
#f     Michael   20.0         3     yes
#g     Matthew   14.5         1     yes
#h       Laura    NaN         1      no
#i       Kevin    8.0         2      no
#j       Jonas   19.0         1     yes
#k      Suresh   15.5         1     yes
#id     Suresh   15.5         1     yes
#!!!!!!NOTICE THE LAST LINE=INDEX

#!!!!!!!

#del exam_data['attempts']
#print(exam_data)

#rating = []
#for row in df['score']:
#    if row > 10 :    
 #       rating.append(1)
  #  else:           
   #     rating.append(0)
#DONE Print the three first rows using the head() method.
#DONE Delete rows with Nan values.
#DONE Extract the 'name' and 'score' columns from the DataFrame.
#DONE Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
#DONE Write a Pandas program to delete the 'attempts' column from the DataFrame.

#Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
#df.to_csv('exam_data.csv')
#After executing the final DataFrame, export it into a CSV file named "my_data".

In [ ]:
df=pd.DataFrame(exam_data,index=labels)
print(df)
print(df.head(3))
df1=df.dropna().reset_index(drop=True)
print(df1)

In [ ]:
df2=df[['name','score']]
df2

In [ ]:
df3=pd.DataFrame({"name": ["Suresh"], "score": [15.5], "attempts": [1], "qualify": ["yes"]},index=["k"])
df=pd.concat([df,df3],axis=0)
print(df)

In [ ]:
del exam_data['attempts']
print(exam_data)

In [ ]:
rating = []
for row in df['score']:
    if row > 10 :    
        rating.append(1)
    else:           
        rating.append(0)

In [ ]:
df.to_csv('exam_data.csv')